$primary: #6c51e2;
$secondary: #2c2738;
$info: #60a4d7;
$success: #14a38b;
$warning: #faa05a;
$danger: #ff5858;
$light: #fff;
$dark: #343a40;

@import '~bootstrap/scss/functions'; // Bootstrap Functions
@import '~bootstrap/scss/bootstrap'; // Bootstrap

// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
